/* GÆLDER TIL ALLE SIDER FX FARVER*/

/* Farver */
html {
  --primary-color: #fffbf5;
  --secondary-color: #d35b2b;
  --soldout-color: grey;
  --cta-color: #3c4c8c;
  --text-color: black;
}

/* Nulstilling af margin og padding på alle elementer, samt ændring af box model på alle elementer */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Normalisering af font og linjehøjde på dokumentets tekster, samt nedtoning af tekstfarven */
body,
.p {
  font-family: kiln-sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
  background-color: #fffbf5;
}

/* Normalisering af billeder */
img {
  width: 100%;
  height: auto;
  display: block;
}

/*FARVER/HEADER + MARGIN PÅ ALT*/

h1 {
  color: #004885;
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  color: #d35b2b;
}

body,
header {
  margin: 1rem;
  gap: 1rem;
}

/* HEADER */
.headerNavigation,
ul {
  grid-column: 3/4;
  display: flex;
  align-items: flex-end;
  gap: 7rem;
  margin: 1rem;
  list-style-type: none;
  font-size: 3rem;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--header-color);
  margin: 0%;
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: row;
  margin: 0%;
}
.logo {
  max-width: 40%;
  margin: 1rem;
}

ul img {
  max-width: 50%;
  background-color: #3c4c8c;
}
header a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--secondary-color);
}

footer {
  display: flex;
  justify-content: space-between;
}
