/* PRODUCTPAGE */
main {
  margin: 0 2rem 8rem 2rem;
}

.product_h1 {
  font-size: 1.7rem;
  font-family: "PT Serif", serif;
  font-weight: 100;
  color: var(--secondary-color);
  padding-top: 0.1rem;
}

.product_h2 {
  font-size: 3rem;
  font-family: "pt-serif", serif;
  font-weight: 100;
  font-style: normal;
  text-transform: capitalize;
}

.oversigt {
  font-size: 1rem;
  font-family: "pt-serif", serif;
  font-weight: 400;
  font-style: normal;
  color: #d87c58;
  padding-top: 0.5rem;
}

.price {
  font-size: 1.5rem;
  font-family: "pt-serif", serif;
  font-weight: bolder;
  font-style: normal;
  padding-top: 1.5rem;
}

h2 {
  text-transform: capitalize;
}

p {
  color: var(--text-color);
}

button {
  background-color: #3c4c8c;
  color: white;
  border: none;
  padding: 1rem 3rem 1rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 2rem;
  margin: 1rem;
  font-family: kiln-sans, sans-serif;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #6779c1;
}

@media (min-width: 900px) {
  .grid_product {
    display: grid;
    gap: 55px;
    grid-template-columns: 1fr 1fr;
  }

  main {
    margin: 0 10rem 13rem 10rem;
  }

  .product_h1 {
    font-size: 2.5rem;
  }

  .product_h2 {
    font-size: 4rem;
  }

  .oversigt {
    font-size: 1.5rem;
  }

  .price {
    font-size: 2rem;
  }
}

.spotify {
  grid-column: 1/3;
}
